@import url("../assets/css/globals.css");


.label {
  width: 164px;
  height: 39px;
}

.label .resto-name {
  position: relative;
  top: 0;
  left: 0;
  font-family: var(--heading-h1-font-family);
  font-weight: var(--heading-h1-font-weight);
  color: var(--primary-color);
  font-size: var(--heading-h1-font-size);
  letter-spacing: var(--heading-h1-letter-spacing);
  line-height: var(--heading-h1-line-height);
  white-space: nowrap;
  font-style: var(--heading-h1-font-style);
}

.label .date {
  position: relative;
  top: 0;
  left: 0;
  font-family: var(--body-large-regular-font-family);
  font-weight: var(--body-large-regular-font-weight);
  color: var(--primary-color);
  font-size: var(--body-large-regular-font-size);
  letter-spacing: var(--body-large-regular-letter-spacing);
  line-height: var(--body-large-regular-line-height);
  white-space: nowrap;
  font-style: var(--body-large-regular-font-style);
}
.productsCard{
  position: absolute;
  width: calc(100% - 300px);
  left: 0;
  min-height: 100vh;
  background: var(--background-color);
  transition: 0.5s;
}
.toSale{
  position: fixed;
  width: 290px;
  height: 100%;
  right: 0;
  background: var(--sideBarColor);
  border-left: 10px solid var(--sideBarColor);
  transition: 0.5s;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
}